<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel= "stylesheet" type= "text/css" href="static/styles/econ.css?version={{version}}">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
<script src="static/jstree_util.js?version={{version}}"></script>
  
</head>    
<body>    
<div id="panel_container">
  <div class="wmd-view-topscroll">
      <div class="scroll-div">
          &nbsp;
      </div>
  </div>
  <div id="navbar" class="wmd-view">
    <button id="database_btn" class="slide_btn" data-child="database_slide">DataBase ^</button>
      <div id="database_slide" class="dynamic-div">
         <div id="processing_icon" style="color:#0099ff; display:none"><i class="fa fa-cog fa-spin" style="font-size:24px"></i>
            <span>Processing ...</span>
          </div>
          <button id="collapse_expand_btn">Expand</button>
          <button id="checkbox_btn">Hide Checkbox</button>
          <button id="download_btn">Download</button>
          <div id="container"></div>
          <form id="submit_files" action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="file[]" multiple >
            <input type="submit">
          </form>
      </div>
    <button id="parsing_btn" class="slide_btn" data-child="parsing_slide">Parsing ^</button>
      <div id="parsing_slide" class="dynamic-div">
         <div id="processing_icon" style="color:#0099ff; display:none"><i class="fa fa-cog fa-spin" style="font-size:24px"></i>
            <span>Processing ...</span>
          </div>
          <button id="collapse_expand_btn">Expand</button>
          <button id="checkbox_btn">Hide Checkbox</button>
          <button id="download_btn">Download</button>
          <div id="container"></div>
          <form id="submit_files" action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="file[]" multiple >
            <input type="submit">
          </form>
      </div>
  </div>
  
  <div id="content">
      <h1>Econ Global 2017</h1>
      <h5 class="instruct" >Use Navigation Bar on the left to upload/process/investigate file</h5>
    
      <h5 class="instruct" >CheckBox + Download buttons only appear together.</h5>
    
      <h5 class="instruct" >Use Browse... to input multiple article4 .pdf for processing to database</h5>
      
  </div>
  </div>
  
  
  

  



</body>
</html>
