/* Generic pane rules */
#navbar {
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;   
}
.ps-container .ps-scrollbar-x-rail {
  top: 3px;
}

/*
.wmd-view-topscroll, .wmd-view {
    overflow-x: scroll;
    overflow-y: scroll;
    width: 300px;
    border: none 0px RED;
}


.scroll-div1 { 
    width: 1000px; 
    overflow-x: scroll;
    overflow-y: scroll;
}
.scroll-div2 { 
    width: 1000px; 
 
}
*/
