/* Generic pane rules */
div#panel_container{
    width: 100%;
    margin: auto;
}    
div#navbar {
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    flow: left;
}
div#content{
    margin-left: 27%;    
}    
.wmd-view-topscroll, .wmd-view
{
    overflow-x: auto;
    overflow-y: hidden;
    width: 1000px;
}

.wmd-view-topscroll
{
    height: 16px;
}

.dynamic-div
{
    display: inline-block;
}

.instruct {
    background-color: #F5F5F5;
    border: 1px solid grey;    
}
.slide_btn{
    background-color: lightblue;
    font-weight: bold;
    font-size: large;
}
